html {
  background: url("../images/background-difference.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { background-color: transparent; }

#output {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 20px;
  line-height: 1.5;
  font-family: monospace;
}

.container {
  background-color: rgba(164, 161, 161, 0.63);
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

h1, p {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: bolder;
}
